@import "tailwindcss";

@theme {
    --font-primary: "IBM Plex Serif", "serif";
    --color-primary: #1D1D1D;
    --color-secondary: #202020;
    --color-lightDark: #353330;
    --color-orange: #EB5A47;
}

/* Define additional themes */
@theme dark {
    --color-primary: #1D1D1D;
    --color-secondary: #353330;
    /* Other design tokens */
}