@import "tailwindcss";

@theme {
    --font-primary: "IBM Plex Serif", "serif";
    --color-primary: #1D1D1D;
    --color-secondary: #202020;
    --color-lightDark: #353330;
    --color-orange: #EB5A47;
}

/* Define additional themes */
@theme dark {
    --color-primary: #1D1D1D;
    --color-secondary: #353330;
    /* Other design tokens */
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 2px; /* Slim scrollbar */
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #888; /* Scrollbar color */
      border-radius: 10px; /* Rounded corners */
    }
    .custom-scrollbar::-webkit-scrollbar-track {
      background-color: transparent; /* Track color */
    }
  }